*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    background-image: url();
}

header .logo ion-icon {
    font-size: 50px;
    color: #61DBFB;
    animation: animate 4s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.wrap{
    width: 100%;
    border-bottom: solid 2px #4a91c3;
    display: flex;
}

.login{
            width: 200px;
            height: 40px;
            background: #61DBFB;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 38px;
            margin-top: 12px;
}
.wrap_cha{
    display: flex;
    margin-left: 80px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    width: 1200px;
    margin: auto;
}
.wrap_con{
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
    margin-left: 30px;
}
.wrap_con a{
    text-decoration: none;
    color: black;
}

.wrap_con img{
    height: 30px;
    width: auto;
    margin-top: -10px;
    
}
.container_header{
    width: 1200px;
    display: flex;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}
.wrap_con a:hover{
    color: red;

}
.logo{
    margin: 5px;
}
.hotline{
    display: flex;
    margin: 25px;
}
.chu_1{
    margin-left: 8px;
}
.search{
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
}
.search input{
    width: 300px;
    height: 43px;
    padding: 7px 30px 7px 5px;
    border:solid 1px #93bdd7;
    outline: none;
    font-style: italic;
}
.search button{
    padding: 14px 14px 13px;
    background: #629fca;
    border: #77a4cb;
    color: black;
    height: 43px;
    cursor: pointer;
}

.search button:hover{
    background: rgb(218, 229, 231);
}
.icon{
    display: flex;
    margin-top: 30px;
    color: #434343;
   
}
.icon_con i{
    font-size: 36px;
    margin-right:20px ;
}
.icon_con{
    font-size: 12px;
    cursor: pointer;
}
.icon_con:hover>i{
    color: #cc4125;
}
.user-login:hover{
    color: #f90;
}
/* my accont */
.icon-con{
    position: relative;
}

/* my accont */
.nav{
    height: 45px;
    z-index: 1;
}
.header-menu{
 
}
.header-menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #5890b2;
    height: 45px;
    width: 1200px;
    margin: auto;
}
.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #9eadcd;
    height: 45px;
    margin: auto;
}
.cha>a{
    text-decoration: none;
    line-height: 45px;
    color: #efefef;
    font-weight: 550;
    display: block;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.cha:hover{
    background-color: #5890b2;
}

.cha{
    /* text-align: center; */
    position: relative;
    width: 25%;
}
.con{
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    width: 100%;
    background-color: white;
    padding: auto;
}
.con a{
    text-decoration: none;
    color: #434343;
    line-height: 40px;
    font-size: 13px;
    margin-left: 50px;
}
.con a:hover{
    color: red;
}
.cha:hover .con{
    display: block;
    background-color: white;
    color: whitesmoke;
}